body > div {
  display: flex;
}

button {
  cursor: pointer;
}

.tic-tac-toe-board {
  display: flex;
  flex-flow: column;
  height: 330px;
  width: 300px;
  /* border: 1px dotted black; */
  background-color: whitesmoke;
  /* background: #8080801a; */
  
}

.divider-row {
  background: black;
  flex: 0 0 5px;
  border-radius: 10px;
}

.row {
  flex: 1 0 30px;
  display: flex;
}

.square {
  flex: 1 0 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.square > span {
  font-size: 4.5rem;
}

.square > * {
  flex: 1;
}

.square:hover {
  background: green;
}

.upright-divider {
  background: black;
  flex: 0 0 5px;
}

.upper-divider {
  border-radius: 10px 10px 0px 0px;
}

.lower-divider {
  border-radius: 0px 0px 10px 10px;
}

.taken:hover {
  background: red;
  cursor: not-allowed;
}

.invisible {
  display: none;
}

.visible {
/*   background: orange; */
}

/* .square:hover .invisible:nth-child(1) {
  display: inline;
} */

.close, .quit {
  margin-top: 5px;
  cursor: pointer;
}

#games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.winner {
  background: gold;
}

.won {
  background: gold;
}

#scoreboard {
  width: 250px;
}

#games + div {
  margin-left: auto;
  border-left: 1px solid black;
}

#scoreboard,
#scoreboard td {
    border: 1px solid #333;
}

#scoreboard thead {
    background-color: #333;
    color: #fff;
}

#new-game {
  /* width: 250px; */
  height: 330px;
  width: 300px;
}

.banner {
  border-bottom: 2px solid rgba(71, 69, 69, 0.186);
  text-align: center;
  height: 30px;
}

.banner > h2 {
  margin: 0px;
}

.player-select-caption {
  margin: 30px 0px 5px 20px;
}

.player-select-dropdown {
  margin: 0px 20px;
}

.player-select-add-player {
  margin: 30px 20px 5px 20px;
}

.new-player {
  margin: 0px 20px;
  border: 0px;
  background: #9f9f9f;
}


.start {
  margin-top: auto;
}

.missing-information {
  border-color: rgba(245, 12, 12, 0.89);
  background: rgba(245, 12, 12, 0.493);
}