.tic-tac-toe-board {
  display: flex;
  flex-flow: column;
  height: 330px;
  width: 300px;
}

.divider-row {
  background: black;
  flex: 0 0 5px;
  border-radius: 10px;
}

.row {
  flex: 1 0 30px;
  display: flex;
}

.square {
  flex: 1 0 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.square > span {
  font-size: 4.5rem;
}

.square > * {
  flex: 1;
}

.square:hover {
  background: green;
}

.upright-divider {
  background: black;
  flex: 0 0 5px;
}

.upper-divider {
  border-radius: 10px 10px 0px 0px;
}

.lower-divider {
  border-radius: 0px 0px 10px 10px;
}

.taken:hover {
  background: red;
  cursor: not-allowed;
}

.invisible {
  display: none;
}

.visible {
/*   background: orange; */
}

/* .square:hover .invisible:nth-child(1) {
  display: inline;
} */

.close, .quit {
  margin-top: 5px;
  cursor: pointer;
}

#games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.winner {
  background: gold;
}

.won {
  background: gold;
}

table {
  width: 250px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#new-game {
  width: 250px;
}

.banner {
  border-bottom: 2px solid rgba(71, 69, 69, 0.186);
  text-align: center;
  height: 30px;
}

.banner > h2 {
  margin: 0px;
}

.player-select-caption {
  margin: 65px 0px 5px 20px;
}

.player-select-dropdown {
  margin: 0px 20px;
}

.start {
  margin-top: auto;
}